<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="bg-[#f1f3f6]">
    <div class="flex flex-col">
      <app-navbar></app-navbar>
      <div class="flex max-w-[82.5rem] md:mx-auto container w-full">
        <app-side-bar class="hidden md:block md:w-[30%]"></app-side-bar>
        <router-outlet class="md:w-[70%]"></router-outlet>
      </div>
    </div>
  </body>
</html>
