<app-navbar></app-navbar>
<section>
  <div class="px-4 py-8 mx-auto max-w-[85rem] sm:px-6 sm:py-12 lg:px-4">
    <div class="block mt-8 lg:hidden"></div>

    <div class="mt-4 lg:mt-8 lg:grid lg:grid-cols-3 lg:items-start lg:gap-8">
      <div class="lg:col-span-3">
        <ul class="grid gap-10 sm:grid-cols-2 lg:grid-cols-3">
          <li *ngFor="let item of productsArray">
            <a class="block overflow-hidden rounded-md group">
              <img
                routerLink="/single/{{ item._id }}"
                src="{{ item.image }}"
                alt="productImage"
                class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
              />

              <div class="relative pt-3 bg-white">
                <h3
                  class="text-xl text-gray-700 group-hover:underline group-hover:underline-offset-4"
                >
                  {{ item.title }}
                </h3>

                <p class="flex justify-between mt-2">
                  <span class="sr-only"> Regular Price </span>
                  <span class="text-2xl tracking-wider text-gray-900">
                    ₹{{ item.prize }}</span
                  >
                  <button (click)="addToWishList(item, item._id)">
                    <span class="material-symbols-outlined"> favorite </span>
                  </button>
                </p>
                <div class="flex justify-between mt-3">
                  <a
                    (click)="addToCart(item, item._id)"
                    class="cursor-pointer relative inline-block px-8 py-3 overflow-hidden text-center border border-black rounded-[1.875rem] group focus:outline-none focus:ring"
                  >
                    <span
                      class="absolute inset-y-0 right-0 w-[2px] bg-black transition-all group-hover:w-full group-active:bg-indigo-500"
                    ></span>

                    <span
                      class="relative text-lg font-medium transition-colors text-white-600 group-hover:text-white"
                    >
                      Add to cart
                    </span>
                  </a>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
