<section class="xl:ml-72">
  <app-navbar></app-navbar>
  <!-- Navbar -->

  <div class="w-full px-6 py-6 mx-auto">
    <div class="flex flex-wrap -mx-3">
      <div class="flex-none w-full max-w-full px-3">
        <div
          class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
        >
          <div
            class="p-6 pb-0 mb-0 border-b-0 border-b-solid rounded-t-2xl border-b-transparent"
          >
            <h6 class="dark:text-white">Projects table</h6>
          </div>
          <div class="flex-auto px-0 pt-0 pb-2">
            <div class="p-0 overflow-x-auto">
              <table
                class="items-center justify-center w-full mb-0 align-top border-collapse dark:border-white/40 text-slate-500"
              >
                <thead class="align-bottom">
                  <tr>
                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70"
                    >
                      title
                    </th>
                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70"
                    >
                      description
                    </th>

                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70"
                    >
                      categories
                    </th>
                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle bg-transparent border-b shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70"
                    >
                      size
                    </th>
                    <th
                      class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70"
                    >
                      color
                    </th>
                    <th
                      class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle bg-transparent border-b shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70"
                    >
                      price
                    </th>
                    <th
                      class="px-6 py-3 pl-2 font-bold text-center uppercase align-middle bg-transparent border-b shadow-none dark:border-white/40 dark:text-white text-xxs border-b-solid tracking-none whitespace-nowrap text-slate-400 opacity-70"
                    >
                      brand
                    </th>
                  </tr>
                </thead>
                <tbody class="border-t" *ngFor="let item of product">
                  <tr>
                    <td
                      class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <div class="flex px-2">
                        <div>
                          <img
                            src="{{ item.image }}"
                            class="inline-flex items-center justify-center mr-2 text-sm text-white transition-all duration-200 ease-in-out rounded-full h-9 w-9"
                            alt="spotify"
                          />
                        </div>
                        <div class="my-auto">
                          <h6
                            class="mb-0 text-sm leading-normal dark:text-white"
                          >
                            {{ item.title }}
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td
                      class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <p
                        class="mb-0 text-sm font-semibold leading-normal dark:text-white dark:opacity-60"
                      >
                        {{ item.description }}
                      </p>
                    </td>
                    <td
                      class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <span
                        class="text-xs font-semibold leading-tight dark:text-white dark:opacity-60"
                        >{{ item.categories }}</span
                      >
                    </td>
                    <td
                      class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <span
                        class="text-xs font-semibold leading-tight dark:text-white dark:opacity-60"
                        >{{ item.size }}</span
                      >
                    </td>
                    <td
                      class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <span
                        class="text-xs font-semibold leading-tight dark:text-white dark:opacity-60"
                        >{{ item.color }}</span
                      >
                    </td>
                    <td
                      class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <span
                        class="text-xs font-semibold leading-tight dark:text-white dark:opacity-60"
                        >{{ item.prize }}</span
                      >
                    </td>
                    <td
                      class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent"
                    >
                      <span
                        class="text-xs font-semibold leading-tight dark:text-white dark:opacity-60"
                        >{{ item.brand }}</span
                      >
                    </td>
                    <button class="p-3" (click)="deleteProduct(item._id)">
                      <span class="text-red-600 material-symbols-outlined">
                        delete
                      </span>
                    </button>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
