<section class="w-screen font-medium font-inter">
  <div
    class="flex items-center justify-between h-24 gap-4 mx-auto max-w-[85rem] px-5"
  >
    <div class="flex items-center gap-4 md:gap-">
      <a class="block text-teal-600" href="/">
        <object data="../../../../assets/svg/logo.svg" type=""></object>
      </a>
    </div>
    <div class="hidden lg:block">
      <ul class="flex gap-10 text-base">
        <div class="relative flex items-center gap-2 cursor-pointer">
          <li>
            <a
              (mouseleave)="categories($event)"
              (mouseenter)="categoriesLeave($event)"
              class="pb-1 ease-out border-black hover:border-b-2"
            >
              Categories
            </a>
            <div
              *ngIf="tru"
              (mouseenter)="categories($event)"
              class="absolute inset-0 min-w-[51.3rem] px-5 pb-20 bg-gray-400 top-12 h-72 rounded-md"
            >
              <h1 class="mt-5 text-2xl text-black">Top Categories</h1>
              <hr class="my-5" />

              <div class="flex flex-wrap gap-5">
                <div
                  class="flex flex-col flex-wrap gap-5 md:flex-row"
                  *ngFor="let item of allFeatures"
                >
                  <div
                    routerLink="/products/{{ item.categories }}"
                    class="min-w-[15rem] items-center gap-4 flex p-2 rounded-md min-h-[5rem] bg-white"
                  >
                    <img
                      class="object-center object-cover min-w-[5.25rem] rounded-md max-h-10"
                      src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2hvZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
                      alt="iimg"
                    />
                    <h1>{{ item.categories }}</h1>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <span *ngIf="!isTrue" class="material-symbols-outlined"
            ><a>expand_more</a>
          </span>
          <span *ngIf="isTrue" class="material-symbols-outlined">
            <a> expand_less</a>
          </span>
        </div>
        <li><a>Deals</a></li>
        <li><a>New Arrivals</a></li>
        <li><a>Wishlist</a></li>
      </ul>
    </div>

    <div class="relative hidden lg:block">
      <a href=""
        ><span class="absolute right-4 material-symbols-outlined bottom-3">
          search
        </span>
      </a>
      <input
        placeholder="Search here"
        type="text"
        class="py-3 px-7 bg-slate-300 rounded-3xl"
      />
    </div>

    <div class="items-center hidden gap-10 sm:flex">
      <ng-container *ngIf="accessToken; else shoe">
        <div class="relative flex items-center">
          <h1
            class="text-base cursor-pointer hover:text-orange-300"
            *ngIf="currentUser"
          >
            <a>{{ currentUser.email }}</a>
          </h1>
          <div
            *ngIf="false"
            class="absolute text-white rounded-md flex items-center justify-center gap-8 flex-col inset-0 p-5 min-w-[12rem] bg-yellow-500 min-h-[16rem] top-11"
          >
            <div class="flex items-center justify-center gap-2 cursor-pointer">
              <span class="text-2xl material-symbols-outlined"> person </span>
              <a>My profile</a>
            </div>
            <div class="flex items-center justify-center gap-2 cursor-pointer">
              <span class="text-2xl material-symbols-outlined"> favorite </span>
              <a>Wishlist</a>
            </div>
            <div class="flex items-center justify-center gap-2 cursor-pointer">
              <span class="text-2xl material-symbols-outlined"> grade </span>
              <a>Orders</a>
            </div>
            <div
              (click)="logout()"
              class="flex items-center justify-center gap-2 cursor-pointer"
            >
              <span class="material-symbols-outlined"> logout </span>
              <a>Logout</a>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #shoe>
        <div class="flex items-center cursor-pointer hover:text-orange-300">
          <button
            routerLink="/login"
            class="px-16 py-3 text-white bg-blue-400 rounded-md"
          >
            Login
          </button>
        </div>
      </ng-template>

      <a>
        <div
          class="flex items-center gap-1 cursor-pointer hover:text-orange-600"
          routerLink="/carts"
        >
          <i class="fa" style="font-size: 24px">&#xf07a;</i>
          <span class="badge badge-warning" id="lblCartCount"
            >{{ length }}
          </span>
          <h1 class="text-base">
            <a>Cart</a>
          </h1>
        </div>
      </a>
    </div>
    <span class="text-4xl lg:hidden material-symbols-outlined"> menu </span>
  </div>
</section>
