<section class="w-[25rem] md:w-[64rem] bg-white font-inter">
  <div class="">
    <div class="flex justify-between py-6 mt-5 border-b-2 border-gray-200 px-7">
      <div>Order Details</div>
      <div>Actions</div>
    </div>
    <div
      *ngFor="let item of newArray"
      class="flex justify-between w-full p-6 border-b-2 border-gray-200 md:p-14"
    >
      <div class="w-[70%]">
        <div class="flex gap-4">
          <img
            src="{{ item.image }}"
            class="max-w-[10.25rem] min-w-[5.5rem]"
            alt="order_img"
          />
          <div
            class="flex flex-row items-center justify-center gap-10 md:gap-20"
          >
            <div class="flex flex-col gap-3">
              <p>title: {{ item.title }}</p>
              <p>quantity: {{ item.quantity }}</p>
            </div>
            <div class="flex flex-col gap-3">
              <p>price: {{ item.prize }}</p>
              <h1>size: {{ item.size | json }}</h1>
              <p>quantity: {{ item.brand }}</p>
              <div class="flex">
                <p>{{ status }} :</p>
                <div
                  class="w-4 h-4 mt-1 ml-1 rounded-full"
                  [ngClass]="{
                    'bg-green-500': status === 'success',
                    'bg-red-500': status === 'pending'
                  }"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="w-[25%] pl-24 text-center justify-center gap-9 flex">
          <h1 class="text-2xl">₹{{ item.quantity * item.prize }}</h1>
        </div>
        <div
          class="flex justify-center ml-10 text-center cursor-pointer md:ml-20 gap-9"
          (click)="deleteOrder(item._id)"
        >
          <span class="text-3xl text-red-500 material-symbols-outlined">
            delete
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
