<section class="w-[22rem] md:w-[64rem] bg-white font-inter">
  <div class="">
    <div class="flex justify-between py-6 mt-5 border-b-2 border-gray-200 px-7">
      <div>Order Details</div>
      <div>Actions</div>
    </div>
    <div
      *ngFor="let item of newArray"
      class="flex justify-between w-full border-b-2 border-gray-200 p-14"
    >
      <div class="w-[70%]">
        <div class="flex gap-4">
          <img src="" class="max-w-lg" alt="sdfasdh" />
          <div class="flex flex-row gap-20">
            <div class="flex flex-col gap-3">
              <p>title: {{ item.title | json }}</p>
              <p>quantity: {{ item.quantity }}</p>
            </div>
            <div class="flex flex-col gap-3">
              <p>price: {{ item.prize }}</p>
              <h1>size: {{ item.size | json }}</h1>
              <p>quantity: {{ item.brand }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[30%] pl-24 text-center justify-center gap-9 flex">
        <button (click)="deleteOrder(item._id)">
          <span class="text-2xl text-red-500 material-symbols-outlined">
            delete
          </span>
        </button>
        <p></p>
      </div>
    </div>
  </div>
</section>
