<section class="xl:ml-72 font-inter">
  <app-navbar></app-navbar>
  <div class="px-6 py-6 mx-auto w-full">
    <!-- table 1 -->

    <div class="flex flex-wrap -mx-3">
      <div class="flex-none px-3 w-full max-w-full">
        <div
          class="flex relative flex-col mb-6 min-w-0 break-words bg-clip-border bg-white rounded-2xl border-0 border-transparent border-solid shadow-xl"
        >
          <div
            (click)="open()"
            class="flex justify-between p-4 mb-0 rounded-t-2xl border-b-0 cursor-pointer border-b-solid border-b-transparent"
          >
            <h6 class="text-blue-600">Add a Category</h6>
            <span class="material-symbols-outlined"> add </span>
          </div>
          <div class="flex-auto px-0 pt-0 pb-2">
            <div class="overflow-x-auto p-0">
              <div
                *ngIf="isTrue"
                class="py-12 bg-white rounded-lg transition-all"
                (submit)="submit()"
              >
                <div class="max-w-[55rem] px-4 mx-auto">
                  <form class="grid grid-cols-6 gap-4" [formGroup]="forms">
                    <div class="col-span-6">
                      <label
                        for="title"
                        class="block text-base font-medium text-gray-700"
                      >
                        category title
                      </label>

                      <input
                        formControlName="category"
                        type="text"
                        id="title"
                        class="p-3 mt-1 w-full rounded-md border shadow-sm border-black/20 sm:text-sm"
                      />
                      <div
                        class="mt-2"
                        *ngIf="fc['category'].touched && fc['category'].invalid"
                      >
                        <p
                          class="text-red-600"
                          *ngIf="fc['category'].errors?.['required']"
                        >
                          category title is required
                        </p>
                        <p
                          class="text-red-600"
                          *ngIf="fc['category'].errors?.['minlength']"
                        >
                          enter at least 2 letters
                        </p>
                      </div>
                    </div>

                    <div class="col-span-6">
                      <label
                        for="image"
                        class="block text-base font-medium text-gray-700"
                      >
                        category image
                      </label>

                      <input
                        type="file"
                        id="image"
                        (change)="onChangeImage($event)"
                        class="p-3 mt-1 w-full rounded-md border shadow-sm border-black/20 sm:text-sm"
                        formControlName="categoryImg"
                      />
                      <div
                        class="mt-2"
                        *ngIf="
                          fc['categoryImg'].touched && fc['categoryImg'].invalid
                        "
                      >
                        <p
                          class="text-red-600"
                          *ngIf="fc['categoryImg'].errors?.['required']"
                        >
                          category image is required
                        </p>
                      </div>
                    </div>
                    <div class="col-span-6">
                      <button
                        [disabled]="forms.invalid"
                        class="block p-3 w-full text-sm text-white bg-black rounded-md border transition border-black/20 hover:shadow-lg"
                      >
                        Create new category
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3">
      <div class="flex-none px-3 w-full max-w-full">
        <div
          class="flex relative flex-col mb-6 min-w-0 break-words bg-clip-border bg-white rounded-2xl border-0 border-transparent border-solid shadow-xl"
        >
          <div
            class="p-6 pb-0 mb-0 rounded-t-2xl border-b-0 border-b-solid border-b-transparent"
          >
            <h6 class="">Projects table</h6>
          </div>
          <div class="flex-auto px-0 pt-0 pb-2">
            <div class="overflow-x-auto p-0">
              <table
                class="justify-center items-center mb-0 w-full align-top border-collapse text-slate-500"
              >
                <thead class="align-bottom">
                  <tr>
                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle whitespace-nowrap bg-transparent border-b shadow-none opacity-70 text-xxs border-b-solid tracking-none text-slate-400"
                    >
                      category title
                    </th>
                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle whitespace-nowrap bg-transparent border-b shadow-none opacity-70 text-xxs border-b-solid tracking-none text-slate-400"
                    >
                      category image
                    </th>
                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle whitespace-nowrap bg-transparent border-b shadow-none opacity-70 text-xxs border-b-solid tracking-none text-slate-400"
                    >
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody class="border-t">
                  <tr *ngFor="let item of allCategory">
                    <td
                      class="p-2 align-middle whitespace-nowrap bg-transparent border-b shadow-transparent"
                    >
                      <div class="flex px-2">
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm leading-normal">
                            {{ item.categories }}
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td
                      class="p-2 align-middle whitespace-nowrap bg-transparent border-b shadow-transparent"
                    >
                      <div class="flex px-2">
                        <div class="my-auto">
                          <img
                            loading="lazy"
                            class="max-h-[5rem] max-w-[3rem]"
                            src="{{ item.categoryImg }}"
                            alt="suii"
                          />
                        </div>
                      </div>
                    </td>

                    <button class="p-3" (click)="deleteOne(item._id)">
                      <span class="text-red-600 material-symbols-outlined">
                        delete
                      </span>
                    </button>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
