<section class="bg-white">
  <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
    <section
      class="relative flex items-end h-32 bg-gray-900 lg:col-span-5 lg:h-full xl:col-span-6"
    >
      <img
        alt="registerPic"
        src="../../../../assets/images/registerPic.jpg"
        class="absolute inset-0 object-cover w-full h-full opacity-80"
      />

      <div class="hidden lg:relative lg:block lg:p-12">
        <a class="block text-white" href="/">
          <span class="sr-only">Home</span>
        </a>

        <h2 class="mt-6 text-2xl font-bold text-white sm:text-3xl md:text-4xl">
          Welcome to Zauj footwear
        </h2>

        <p class="mt-4 leading-relaxed text-white/90">
          The best collection of footwear and shoes available for men and women
          and others
        </p>
      </div>
    </section>

    <main
      aria-label="Main"
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
    >
      <div class="max-w-xl lg:max-w-3xl">
        <div class="relative block -mt-16 lg:hidden">
          <a
            class="inline-flex items-center justify-center w-16 h-16 text-blue-600 bg-white rounded-full sm:h-20 sm:w-20"
            href="/"
          >
            <span class="sr-only">Home</span>
          </a>

          <h1
            class="mt-2 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl"
          >
            Welcome to Zauj
          </h1>

          <p class="mt-4 leading-relaxed text-gray-500">
            The best footwear store for men women and kids
          </p>
        </div>

        <form
          [formGroup]="form"
          (submit)="formSubmit(form.value)"
          class="grid grid-cols-6 gap-4 mt-8 md:gap-6"
        >
          <div class="col-span-6 sm:col-span-3">
            <label
              for="FirstName"
              class="block text-sm font-medium text-gray-700"
            >
              First Name
            </label>

            <input
              type="text"
              id="firstName"
              name="firstName"
              formControlName="firstName"
              class="w-full px-2 py-3 mt-2 text-sm text-gray-700 bg-white border-gray-200 rounded-md shadow-sm"
            />
            <div *ngIf="fc['firstName'].touched && fc['firstName'].invalid">
              <h1
                class="text-red-500"
                *ngIf="fc['firstName'].errors!['required']"
              >
                first name is required
              </h1>
              <h1
                class="text-red-500"
                *ngIf="fc['firstName'].errors!['minlength']"
              >
                min 3 letters required
              </h1>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="LastName"
              class="block text-sm font-medium text-gray-700"
            >
              Last Name
            </label>

            <input
              type="text"
              id="LastName"
              name="lastName"
              formControlName="lastName"
              class="w-full px-2 py-3 mt-2 text-sm text-gray-700 bg-white border-gray-200 rounded-md shadow-sm"
            />
            <div *ngIf="fc['lastName'].touched && fc['lastName'].invalid">
              <h1
                class="text-red-500"
                *ngIf="fc['lastName'].errors!['required']"
              >
                last name name is required
              </h1>
              <h1
                *ngIf="fc['lastName'].errors!['minlength']"
                class="text-red-500"
              >
                minimum 3 letters
              </h1>
            </div>
          </div>

          <div class="col-span-6">
            <label for="Email" class="block text-sm font-medium text-gray-700">
              Email
            </label>

            <input
              type="email"
              id="email"
              name="email"
              formControlName="email"
              class="w-full px-2 py-3 mt-2 text-sm text-gray-700 bg-white border-gray-200 rounded-md shadow-sm"
            />
            <div *ngIf="fc['email'].touched && fc['email'].invalid">
              <h1 class="text-red-500" *ngIf="fc['email'].errors!['required']">
                Email is required
              </h1>
              <h1 *ngIf="fc['email'].errors!['pattern']" class="text-red-500">
                Enter a valid email
              </h1>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="Password"
              class="block text-sm font-medium text-gray-700"
            >
              Password
            </label>

            <input
              type="password"
              id="Password"
              name="password"
              formControlName="password"
              class="w-full px-2 py-3 mt-2 text-sm text-gray-700 bg-white border-gray-200 rounded-md shadow-sm"
            />
            <div *ngIf="fc['password'].touched && fc['password'].invalid">
              <h1
                class="text-red-500"
                *ngIf="fc['password'].errors!['required']"
              >
                Password is required
              </h1>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="PasswordConfirmation"
              class="block text-sm font-medium text-gray-700"
            >
              Password Confirmation
            </label>

            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              class="w-full px-2 py-3 mt-2 text-sm text-gray-700 bg-white border-gray-200 rounded-md shadow-sm"
              formControlName="confirmPassword"
            />
            <div
              *ngIf="
                fc['confirmPassword'].touched && fc['confirmPassword'].invalid
              "
            >
              <h1
                class="text-red-500"
                *ngIf="fc['confirmPassword'].errors!['required']"
              >
                confirm password is required
              </h1>
            </div>
          </div>

          <div class="col-span-6">
            <label for="MarketingAccept" class="flex gap-4">
              <input
                type="checkbox"
                id="MarketingAccept"
                name="marketing_accept"
                class="w-5 h-5 bg-white border-gray-200 rounded-md shadow-sm"
              />

              <span class="text-sm text-gray-700">
                I want to receive emails about events, product updates and
                company announcements.
              </span>
            </label>
          </div>

          <div class="col-span-6">
            <p class="text-sm text-gray-500">
              By creating an account, you agree to our
              <a href="#" class="text-gray-700 underline">
                terms and conditions
              </a>
              and
              <a href="#" class="text-gray-700 underline">privacy policy</a>.
            </p>
          </div>

          <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button
              [disabled]="form.invalid"
              class="inline-block px-12 py-3 text-sm font-medium text-white transition bg-blue-600 border border-blue-600 rounded-md shrink-0 hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
            >
              Create an account
            </button>

            <p class="mt-4 text-sm text-gray-500 sm:mt-0">
              Already have an account?
              <a href="/login" class="text-gray-700 underline">Log in</a>.
            </p>
          </div>
        </form>
      </div>
    </main>
  </div>
</section>
