<app-navbar></app-navbar>
<section
  class="max-w-[85rem] mx-auto px-5 flex md:flex-row flex-col justify-between"
>
  <div class="w-full">
    <div class="flex justify-between items-center mt-10 md:mt-24">
      <h1 class="text-2xl font-medium">Cart Section</h1>
      <button>
        <span class="text-3xl material-symbols-outlined" (click)="fullDelete()">
          delete
        </span>
      </button>
    </div>
    <div>
      <div
        class="flex justify-between items-center pb-4 mt-5 w-full border-b border-black md:mt-10 md:mb-10"
      >
        <div class="w-2/3">products</div>
        <div class="w-1/3">quantity</div>
        <div class="w-1/3">Price</div>
      </div>
      <div
        *ngFor="let item of allProduct"
        class="flex gap-2 justify-between py-5 mt-5 w-full border-b border-black md:gap-10"
      >
        <div class="flex flex-col w-2/3">
          <div class="flex gap-5">
            <div class="flex flex-col" routerLink="/single/{{ item._id }}">
              <div class="flex">
                <img
                  loading="lazy"
                  src="{{ item.image }}"
                  class="h-12 md:h-16 max-w-[3.5rem] md:max-w-xs object-contain"
                  alt="sahh"
                />
                <h1 class="pl-4 text-lg md:text-2xl">{{ item.title }}</h1>
              </div>
              <div class="flex flex-row pl-20 md:pl-28">
                <h2>{{ item.color }}</h2>
                <div
                  class="mt-1 ml-1 w-4 h-4 rounded-full"
                  [ngStyle]="{
                    'background-color': item.color
                  }"
                ></div>
                <h2 class="pl-3">size:{{ item.size }}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-between w-1/3 text-center">
          <div class="flex gap-3 justify-between w-14 md:w-20 md:gap-3">
            <button
              class="px-3 bg-gray-300 rounded-full md:text-4xl"
              (click)="minus(item._id, item.quantity)"
            >
              -
            </button>
            <span class="md:text-3xl"> {{ item.quantity }} </span>
            <button
              class="px-3 bg-gray-300 rounded-full md:text-3xl"
              (click)="add(item._id, item.quantity)"
            >
              +
            </button>
          </div>
          <div class="mt-10 w-28 text-red-500">
            <button (click)="deleteOne(item._id)">
              <span class="material-symbols-outlined"> delete </span>
            </button>
          </div>
        </div>
        <div class="w-1/3">
          <h1 class="md:text-2xl">₹ {{ item.prize * item.quantity }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div
    class="bg-gray-200 max-h-96 flex gap-5 flex-col mt-10 md:mt-40 min-w-[17.75rem] p-3 rounded-lg md:ml-10"
  >
    <div class="flex justify-between">
      <span>SubTotal</span>
      <span>{{ fullAmount }} Rs</span>
    </div>
    <div class="flex justify-between">
      <span>Discount</span>
      <span>100 Rs</span>
    </div>
    <div class="flex justify-between">
      <span>Quantity</span>
      <span>{{ quantity }}</span>
    </div>
    <div class="flex justify-between mt-24">
      <span>Grand Total</span>
      <span *ngIf="fullAmount > 100">{{ fullAmount - 100 }} Rs</span>
      <span *ngIf="fullAmount < 100"> 0 Rs</span>
    </div>
    <button
      (click)="checkout()"
      class="p-3 mt-7 text-white bg-black rounded-lg"
    >
      Checkout Now
    </button>
  </div>
</section>
