<section class="text-gray-600 font-inter">
  <div class="max-w-[85rem] mx-auto mt-10 px-5">
    <h1 class="mb-10 text-3xl font-semibold text-black">
      Service to help you stop
    </h1>
    <div class="flex flex-wrap pb-20 -m-4 border-b-2 border-gray-300">
      <div class="p-4 xl:w-1/3 md:w-1/2">
        <div class="bg-gray-100 rounded-lg">
          <div class="px-16 py-12">
            <h2
              class="max-w-xs mb-6 text-2xl font-semibold text-gray-900 title-font"
            >
              Frequently asked questions
            </h2>
            <p class="text-base max-w-[13rem] leading-relaxed">
              updates on safe shopping in our Stores
            </p>
          </div>
          <div class="relative overflow-hidden h-60">
            <img
              class="object-cover object-center w-full transition-all transform hover:scale-125"
              src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e55b939fea169c0292_faq-min.png"
              alt="content"
            />
          </div>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2">
        <div class="bg-gray-100 rounded-lg">
          <div class="px-8 py-12">
            <h2
              class="max-w-[12.5rem] mb-6 text-2xl font-semibold text-gray-900 title-font"
            >
              Online payment process
            </h2>
            <p class="max-w-[13rem] text-base leading-relaxed">
              updates on safe shopping in our Stores
            </p>
          </div>
          <div class="relative overflow-hidden h-60">
            <img
              class="object-cover object-center w-full transition-all transform hover:scale-125"
              src="https://uploads-ssl.webflow.com/63e857eaeaf853471d5335ff/63e8c4e6707380718425e697_onlie%20payment-min.png"
              alt="content"
            />
          </div>
        </div>
      </div>
      <div class="p-4 xl:w-1/3 md:w-1/2">
        <div class="bg-gray-100 rounded-lg">
          <div class="px-8 py-12">
            <h2
              class="max-w-[12.5rem] mb-6 text-2xl font-semibold text-gray-900 title-font"
            >
              Fast Delivery option available
            </h2>
            <p class="max-w-[13rem] text-base leading-relaxed">
              updates on safe shopping in our Stores
            </p>
          </div>
          <div class="relative overflow-hidden h-60">
            <img
              class="object-cover object-center w-full transition-all transform hover:scale-125"
              src="https://images.unsplash.com/photo-1658058175578-80a7de13924f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyJTIwcGljc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt="content"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
