<section class="xl:ml-72 font-inter">
  <app-navbar></app-navbar>
  <!-- Navbar -->

  <div class="px-6 py-6 mx-auto w-full">
    <!-- table 1 -->

    <div class="flex flex-wrap -mx-3">
      <div class="flex-none px-3 w-full max-w-full">
        <div
          class="flex relative flex-col mb-6 min-w-0 break-words bg-clip-border bg-white rounded-2xl border-0 border-transparent border-solid shadow-xl"
        >
          <div
            (click)="open()"
            class="flex justify-between p-4 mb-0 rounded-t-2xl border-b-0 cursor-pointer border-b-solid border-b-transparent"
          >
            <h6 class="text-blue-600">Add a Product</h6>
            <span class="material-symbols-outlined"> add </span>
          </div>
          <div class="flex-auto px-0 pt-0 pb-2">
            <div class="overflow-x-auto p-0">
              <div
                *ngIf="isTrue"
                class="py-12 bg-white rounded-lg transition-all"
                (submit)="submit()"
              >
                <div class="max-w-[55rem] px-4 mx-auto">
                  <form class="grid grid-cols-6 gap-4" [formGroup]="forms">
                    <div class="col-span-6">
                      <label
                        for="title"
                        class="block text-xs font-medium text-gray-700"
                      >
                        Title
                      </label>

                      <input
                        formControlName="title"
                        type="text"
                        id="title"
                        class="p-3 mt-1 w-full rounded-md border shadow-sm border-black/20 sm:text-sm"
                      />
                      <div
                        class="mt-2"
                        *ngIf="fc['title'].touched && fc['title'].invalid"
                      >
                        <p
                          class="text-red-600"
                          *ngIf="fc['title'].errors?.['required']"
                        >
                          Title is required
                        </p>
                        <p
                          class="text-red-600"
                          *ngIf="fc['title'].errors?.['minlength']"
                        >
                          enter at least 2 letters
                        </p>
                      </div>
                    </div>
                    <div class="col-span-6">
                      <label
                        for="description"
                        class="block text-xs font-medium text-gray-700"
                      >
                        Description
                      </label>
                      <textarea
                        formControlName="description"
                        rows="5"
                        id="description"
                        class="px-6 py-4 mt-1 w-full rounded-md border shadow-sm resize-none border-black/20 p sm:text-sm"
                      >
                      </textarea>
                      <div
                        class="mt-2"
                        *ngIf="
                          fc['description'].touched && fc['description'].invalid
                        "
                      >
                        <p
                          class="text-red-600"
                          *ngIf="fc['description'].errors?.['required']"
                        >
                          description is required
                        </p>
                      </div>
                    </div>
                    <div class="col-span-3">
                      <label
                        for="image"
                        class="block text-xs font-medium text-gray-700"
                      >
                        Image
                      </label>

                      <input
                        type="file"
                        id="image"
                        class="p-3 mt-1 w-full rounded-md border shadow-sm border-black/20 sm:text-sm"
                        formControlName="image"
                        (change)="onFileChange($event)"
                      />
                      <div
                        class="mt-2"
                        *ngIf="fc['image'].touched && fc['image'].invalid"
                      >
                        <p
                          class="text-red-600"
                          *ngIf="fc['image'].errors?.['required']"
                        >
                          image is required
                        </p>
                      </div>
                    </div>

                    <div class="col-span-3">
                      <fieldset>
                        <legend>Category:</legend>
                        <div class="flex flex-row flex-wrap gap-5">
                          <div *ngFor="let item of category">
                            <label
                              for="{{ item.categories }}"
                              class="ml-1"
                              for="category"
                            >
                              <input
                                formControlName="category"
                                (change)="storeSelectedProducts($event)"
                                type="checkbox"
                                id="{{ item.categories }}"
                                [value]="item.categories"
                              />
                              {{ item.categories }}
                            </label>
                            <div
                              class="mt-2"
                              *ngIf="
                                fc['category'].touched && fc['category'].invalid
                              "
                            >
                              <p
                                class="text-red-600"
                                *ngIf="fc['category'].errors?.['required']"
                              >
                                image is required
                              </p>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                    <div class="col-span-3">
                      <label
                        for="size"
                        class="block text-xs font-medium text-gray-700"
                      >
                        size
                      </label>

                      <input
                        type="number"
                        id="size"
                        formControlName="size"
                        class="p-3 mt-1 w-full rounded-md border shadow-sm border-black/20 sm:text-sm"
                      />
                      <div
                        class="mt-2"
                        *ngIf="fc['size'].touched && fc['size'].invalid"
                      >
                        <p
                          class="text-red-600"
                          *ngIf="fc['size'].errors?.['required']"
                        >
                          size is required
                        </p>
                      </div>
                    </div>

                    <div class="col-span-3">
                      <label
                        for="color"
                        class="block text-xs font-medium text-gray-700"
                      >
                        color
                      </label>

                      <input
                        type="text"
                        id="color"
                        formControlName="color"
                        class="p-3 mt-1 w-full rounded-md border shadow-sm border-black/20 sm:text-sm"
                      />
                      <div
                        class="mt-2"
                        *ngIf="fc['color'].touched && fc['color'].invalid"
                      >
                        <p
                          class="text-red-600"
                          *ngIf="fc['color'].errors?.['required']"
                        >
                          color number is required
                        </p>
                      </div>
                    </div>

                    <div class="col-span-3">
                      <label
                        for="price"
                        class="block text-xs font-medium text-gray-700"
                      >
                        price
                      </label>
                      <input
                        type="number"
                        id="price"
                        formControlName="price"
                        class="p-3 mt-1 w-full rounded-md border shadow-sm border-black/20 sm:text-sm"
                      />
                      <div
                        class="mt-2"
                        *ngIf="fc['price'].touched && fc['price'].invalid"
                      >
                        <p
                          class="text-red-600"
                          *ngIf="fc['price'].errors?.['required']"
                        >
                          price is required
                        </p>
                      </div>
                    </div>

                    <div class="col-span-3">
                      <label
                        for="brand"
                        class="block text-xs font-medium text-gray-700"
                      >
                        brand
                      </label>

                      <input
                        type="text"
                        id="brand"
                        class="p-3 mt-1 w-full rounded-md border shadow-sm border-black/20 sm:text-sm"
                        formControlName="brand"
                      />
                      <div
                        class="mt-2"
                        *ngIf="fc['brand'].touched && fc['brand'].invalid"
                      >
                        <p
                          class="text-red-600"
                          *ngIf="fc['brand'].errors?.['required']"
                        >
                          brand is required
                        </p>
                      </div>
                    </div>

                    <div class="col-span-6">
                      <button
                        [disabled]="forms.invalid"
                        *ngIf="editProduct === 'Add'"
                        class="block p-3 w-full text-sm text-white bg-black rounded-md border transition border-black/20 hover:shadow-lg"
                      >
                        Create new Product
                      </button>
                      <button
                        [disabled]="forms.invalid"
                        *ngIf="editProduct === 'Edit'"
                        class="block p-3 w-full text-sm text-white bg-black rounded-md border transition border-black/20 hover:shadow-lg"
                      >
                        Edit product
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card 2 -->

    <div class="flex flex-wrap -mx-3">
      <div class="flex-none px-3 w-full max-w-full">
        <div
          class="flex relative flex-col mb-6 min-w-0 break-words bg-clip-border bg-white rounded-2xl border-0 border-transparent border-solid shadow-xl"
        >
          <div
            class="p-6 pb-0 mb-0 rounded-t-2xl border-b-0 border-b-solid border-b-transparent"
          >
            <h6 class="">Projects table</h6>
          </div>
          <div class="flex-auto px-0 pt-0 pb-2">
            <div class="overflow-x-auto p-0">
              <table
                class="justify-center items-center mb-0 w-full align-top border-collapse text-slate-500"
              >
                <thead class="align-bottom">
                  <tr>
                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle whitespace-nowrap bg-transparent border-b shadow-none opacity-70 text-xxs border-b-solid tracking-none text-slate-400"
                    >
                      title
                    </th>
                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle whitespace-nowrap bg-transparent border-b shadow-none opacity-70 text-xxs border-b-solid tracking-none text-slate-400"
                    >
                      description
                    </th>

                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle whitespace-nowrap bg-transparent border-b shadow-none opacity-70 text-xxs border-b-solid tracking-none text-slate-400"
                    >
                      categories
                    </th>
                    <th
                      class="px-6 py-3 font-bold text-left uppercase align-middle whitespace-nowrap bg-transparent border-b shadow-none opacity-70 text-xxs border-b-solid tracking-none text-slate-400"
                    >
                      size
                    </th>
                    <th
                      class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle whitespace-nowrap bg-transparent border-b shadow-none opacity-70 text-xxs border-b-solid tracking-none text-slate-400"
                    >
                      color
                    </th>
                    <th
                      class="px-6 py-3 pl-2 font-bold text-left uppercase align-middle whitespace-nowrap bg-transparent border-b shadow-none opacity-70 text-xxs border-b-solid tracking-none text-slate-400"
                    >
                      price
                    </th>
                    <th
                      class="px-6 py-3 pl-2 font-bold text-center uppercase align-middle whitespace-nowrap bg-transparent border-b shadow-none opacity-70 text-xxs border-b-solid tracking-none text-slate-400"
                    >
                      brand
                    </th>
                  </tr>
                </thead>
                <tbody class="border-t" *ngFor="let item of product">
                  <tr>
                    <td
                      class="p-2 align-middle whitespace-nowrap bg-transparent border-b shadow-transparent"
                    >
                      <div class="flex px-2">
                        <div>
                          <img
                            loading="lazy"
                            src="{{ item.image }}"
                            class="inline-flex justify-center items-center mr-2 w-9 h-9 text-sm text-white rounded-full transition-all duration-200 ease-in-out"
                            alt="spotify"
                          />
                        </div>
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm leading-normal">
                            {{ item.title }}
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td
                      class="p-2 align-middle whitespace-nowrap bg-transparent border-b shadow-transparent"
                    >
                      <p class="mb-0 text-sm font-semibold leading-normal">
                        {{ item.description }}
                      </p>
                    </td>
                    <td
                      class="p-2 align-middle whitespace-nowrap bg-transparent border-b shadow-transparent"
                    >
                      <span class="text-xs font-semibold leading-tight">{{
                        item.categories
                      }}</span>
                    </td>
                    <td
                      class="p-2 align-middle whitespace-nowrap bg-transparent border-b shadow-transparent"
                    >
                      <span class="text-xs font-semibold leading-tight">{{
                        item.size
                      }}</span>
                    </td>
                    <td
                      class="p-2 align-middle whitespace-nowrap bg-transparent border-b shadow-transparent"
                    >
                      <span class="text-xs font-semibold leading-tight">{{
                        item.color
                      }}</span>
                    </td>
                    <td
                      class="p-2 align-middle whitespace-nowrap bg-transparent border-b shadow-transparent"
                    >
                      <span class="text-xs font-semibold leading-tight">{{
                        item.prize
                      }}</span>
                    </td>
                    <td
                      class="p-2 align-middle whitespace-nowrap bg-transparent border-b shadow-transparent"
                    >
                      <span class="text-xs font-semibold leading-tight">{{
                        item.brand
                      }}</span>
                    </td>
                    <button class="p-3" (click)="deleteProduct(item._id)">
                      <span class="text-red-600 material-symbols-outlined">
                        delete
                      </span>
                    </button>
                    <button class="p-3" (click)="editProducts(item._id)">
                      <span class="text-green-600 material-symbols-outlined">
                        edit
                      </span>
                    </button>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
