@media (min-width: 1200px) {
  .xl\:left-\[18\%\] {
    left: 18%;
  }

  .xl\:ml-6 {
    margin-left: 1.5rem;
  }

  .xl\:ml-68 {
    margin-left: 17rem;
  }

  .xl\:mb-0 {
    margin-bottom: 0px;
  }

  .xl\:mr-4 {
    margin-right: 1rem;
  }

  .xl\:mr-68 {
    margin-right: 17rem;
  }

  .xl\:ml-auto {
    margin-left: auto;
  }

  .xl\:mr-12 {
    margin-right: 3rem;
  }

  .xl\:ml-4 {
    margin-left: 1rem;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:w-1\/4 {
    width: 25%;
  }

  .xl\:w-1\/2 {
    width: 50%;
  }

  .xl\:w-4\/12 {
    width: 33.333333%;
  }

  .xl\:flex-none {
    flex: none;
  }
}
