<main
  class="relative h-full max-h-screen rounded-xl transition-all duration-200 ease-in-out font-inter xl:ml-68"
>
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- end Navbar -->

  <!-- cards -->
  <div class="px-6 py-2 mx-auto w-full">
    <!-- row 1 -->
    <div class="flex flex-wrap -mx-3">
      <!-- card1 -->
      <div
        class="px-3 mb-6 w-full max-w-full sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4"
      >
        <div
          class="flex relative flex-col min-w-0 break-words bg-clip-border bg-white rounded-2xl shadow-xl"
        >
          <div class="flex-auto p-4">
            <div class="flex flex-row -mx-3">
              <div class="flex-none px-3 w-2/3 max-w-full">
                <div>
                  <p
                    class="mb-0 text-sm font-semibold leading-normal uppercase"
                  >
                    Total Users
                  </p>
                  <h5 class="mb-2 font-bold">
                    {{ totalUserCount }}
                  </h5>
                  <p class="mb-0">
                    <span
                      class="text-sm font-bold leading-normal text-emerald-500"
                      >+55%</span
                    >
                    since yesterday
                  </p>
                </div>
              </div>
              <div class="px-3 text-right basis-1/3">
                <div class="inline-block w-12 h-12 text-center rounded-circle">
                  <i
                    class="relative top-3.5 text-lg leading-none text-white"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- card2 -->
      <div
        class="px-3 mb-6 w-full max-w-full sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4"
      >
        <div
          class="flex relative flex-col min-w-0 break-words bg-clip-border bg-white rounded-2xl shadow-xl"
        >
          <div class="flex-auto p-4">
            <div class="flex flex-row -mx-3">
              <div class="flex-none px-3 w-2/3 max-w-full">
                <div>
                  <p
                    class="mb-0 text-sm font-semibold leading-normal uppercase"
                  >
                    Total Products
                  </p>
                  <h5 class="mb-2 font-bold">
                    {{ totalProductsCount }}
                  </h5>
                  <p class="mb-0">
                    <span class="text-sm font-bold leading-normal">+3%</span>
                    since last week
                  </p>
                </div>
              </div>
              <div class="px-3 text-right basis-1/3">
                <div class="inline-block w-12 h-12 text-center rounded-circle">
                  <i
                    class="relative top-3.5 text-lg leading-none text-white -world"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- card3 -->
      <div
        class="px-3 mb-6 w-full max-w-full sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4"
      >
        <div
          class="flex relative flex-col min-w-0 break-words bg-clip-border bg-white rounded-2xl shadow-xl"
        >
          <div class="flex-auto p-4">
            <div class="flex flex-row -mx-3">
              <div class="flex-none px-3 w-2/3 max-w-full">
                <div>
                  <p
                    class="mb-0 text-sm font-semibold leading-normal uppercase"
                  >
                    Total Orders
                  </p>
                  <h5 class="mb-2 font-bold">
                    {{ totalOrders }}
                  </h5>
                  <p class="mb-0">
                    <span class="text-sm font-bold leading-normal text-red-600"
                      >-2%</span
                    >
                    since last quarter
                  </p>
                </div>
              </div>
              <div class="px-3 text-right basis-1/3">
                <div
                  class="inline-block w-12 h-12 text-center from-emerald-500 to-teal-400 rounded-circle"
                >
                  <i
                    class="relative top-3.5 text-lg leading-none text-white"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- card4 -->
      <div class="px-3 w-full max-w-full sm:w-1/2 sm:flex-none xl:w-1/4">
        <div
          class="flex relative flex-col min-w-0 break-words bg-clip-border bg-white rounded-2xl shadow-xl"
        >
          <div class="flex-auto p-4">
            <div class="flex flex-row -mx-3">
              <div class="flex-none px-3 w-2/3 max-w-full">
                <div>
                  <p
                    class="mb-0 text-sm font-semibold leading-normal uppercase"
                  >
                    Total Sales
                  </p>
                  <h5 class="mb-2 font-bold">{{ totalAmount }} Rs</h5>
                  <p class="mb-0">
                    <span class="text-sm font-bold leading-normal">+5%</span>
                    than last month
                  </p>
                </div>
              </div>
              <div class="px-3 text-right basis-1/3">
                <div class="inline-block w-12 h-12 text-center rounded-circle">
                  <i
                    class="relative top-3.5 text-lg leading-none text-white -cart"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- cards row 2 -->
    <div class="flex flex-wrap -mx-3 mt-6">
      <div class="px-3 mt-0 w-full max-w-full lg:w-7/12 lg:flex-none">
        <div
          class="flex relative z-20 flex-col min-w-0 break-words bg-clip-border bg-white rounded-2xl border-0 border-solid shadow-xl border-black/12.5"
        >
          <div
            class="p-6 pt-4 pb-0 mb-0 rounded-t-2xl border-b-0 border-solid border-black/12.5"
          >
            <h6 class="capitalize">Sales overview</h6>
            <p class="mb-0 text-sm leading-normal">
              <i class="text-emerald-500 fa fa-arrow-up"></i>
              <span class="font-semibold">4% more</span> in 2021
            </p>
          </div>
          <div class="flex-auto p-4">
            <div>
              <canvas id="chart-line" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="px-3 w-full max-w-full lg:w-5/12 lg:flex-none">
        <div slider class="overflow-hidden relative w-full h-full rounded-2xl">
          <!-- slide 1 -->
          <div slide class="absolute w-full h-full transition-all duration-500">
            <img
              loading="lazy"
              class="object-cover h-full min-w-[42rem]"
              src="https://images.unsplash.com/photo-1626947346165-4c2288dadc2a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHNob2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
              alt="carousel image"
            />
            <div
              class="block text-start ml-12 left-0 bottom-0 absolute right-[15%] pt-5 pb-5 text-white"
            >
              <div
                class="inline-block mb-4 w-8 h-8 text-center text-black bg-white bg-center rounded-lg fill-current stroke-none"
              ></div>
              <h5 class="mb-1 text-black">Get started with Argon</h5>
              <p class="text-black">
                There’s nothing I really wanted to do in life that I wasn’t able
                to get good at.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- cards row 3 -->

    <div class="flex flex-wrap -mx-3 mt-6">
      <div
        class="px-3 mt-0 mb-6 w-full max-w-full lg:mb-0 lg:w-7/12 lg:flex-none"
      >
        <div
          class="flex relative flex-col min-w-0 break-words bg-clip-border bg-white rounded-2xl border-0 border-solid shadow-xl border-black-125"
        >
          <div class="p-4 pb-0 mb-0 rounded-t-4">
            <div class="flex justify-between">
              <h6 class="mb-2">Sales by Country</h6>
            </div>
          </div>
          <div class="overflow-x-auto" *ngFor="let item of ordersShow">
            <table
              class="items-center mb-4 w-full align-top border-gray-200 border-collapse"
            >
              <tbody>
                <tr>
                  <td
                    class="p-2 align-middle whitespace-nowrap bg-transparent border-b w-3/10"
                  >
                    <div class="flex items-center px-2 py-1">
                      <div class="ml-6">
                        <p class="mb-0 text-xs font-semibold leading-tight">
                          Country:
                        </p>
                        <h6 class="mb-0 text-sm leading-normal">India</h6>
                      </div>
                    </div>
                  </td>
                  <td
                    class="p-2 align-middle whitespace-nowrap bg-transparent border-b"
                  >
                    <div class="text-center">
                      <p class="mb-0 text-xs font-semibold leading-tight">
                        Sales:
                      </p>
                      <h6 class="mb-0 text-sm leading-normal">15%</h6>
                    </div>
                  </td>
                  <td
                    class="p-2 align-middle whitespace-nowrap bg-transparent border-b"
                  >
                    <div class="text-center">
                      <p class="mb-0 text-xs font-semibold leading-tight">
                        Amount:
                      </p>
                      <h6 class="mb-0 text-sm leading-normal">
                        {{ item.amount }} Rs
                      </h6>
                    </div>
                  </td>
                  <td
                    class="p-2 text-sm leading-normal align-middle whitespace-nowrap bg-transparent border-b"
                  >
                    <div class="flex-1 text-center">
                      <p class="mb-0 text-xs font-semibold leading-tight">
                        Status:
                      </p>
                      <h6 class="mb-0 text-sm leading-normal">
                        {{ item.status }}
                      </h6>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="px-3 mt-0 w-full max-w-full lg:w-5/12 lg:flex-none">
        <div
          class="flex relative flex-col min-w-0 break-words bg-clip-border bg-white rounded-2xl border-0 border-solid shadow-xl border-black/12.5"
        >
          <div class="p-4 pb-0 rounded-t-4">
            <h6 class="mb-0">Categories</h6>
          </div>
          <div class="flex-auto p-4" *ngFor="let item of category">
            <ul class="flex flex-col pl-0 mb-0 rounded-lg">
              <li
                class="flex relative justify-between pr-4 mb-2 rounded-xl rounded-t-lg border-0 text-inherit"
              >
                <div class="flex items-center">
                  <div
                    class="inline-block mr-4 w-8 h-10 text-center text-black bg-center rounded-xl shadow-sm fill-current stroke-none from-zinc-800 to-zinc-700 dark: dark:from-slate-750 dark:to-gray-850"
                  >
                    <i
                      class="relative text-white -mobile-button top-0.75 text-xxs"
                    ></i>
                  </div>
                  <div class="flex flex-col">
                    <h6 class="mb-1 text-sm leading-normal text-slate-700">
                      {{ item.categories }}
                    </h6>
                  </div>
                </div>
                <div class="flex">
                  <button
                    class="inline-block mx-0 my-auto text-xs font-bold text-center align-middle bg-transparent border-0 transition-all ease-in cursor-pointer group leading-pro rounded-3.5xl p-1.2 h-6.5 w-6.5 text-slate-700"
                  >
                    <i
                      class="transition-all duration-200 ease-bounce text-2xs group-hover:translate-x-1.25 -bold-right"
                      aria-hidden="true"
                    ></i>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>
