<footer class="text-gray-600 font-inter">
  <div
    class="max-w-[85rem] flex flex-col flex-wrap px-5 py-24 mx-auto md:items-center lg:items-start md:flex-row md:flex-nowrap"
  >
    <div class="flex-shrink-0 w-64 mx-auto text-center md:mx-0 md:text-left">
      <img src="../../../../assets/svg/logo.svg" alt="" />
      <p class="mt-2 text-sm text-gray-500">
        Zauj Footwear is the best footwear shop ever
      </p>
    </div>
    <div
      class="flex flex-wrap flex-grow mt-10 -mb-10 text-center md:pl-20 md:mt-0 md:text-left"
    >
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2
          class="mb-3 text-sm font-medium tracking-widest text-gray-900 title-font"
        >
          CATEGORIES
        </h2>
        <nav class="mb-10 list-none">
          <li>
            <a class="text-gray-600 hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2
          class="mb-3 text-sm font-medium tracking-widest text-gray-900 title-font"
        >
          CATEGORIES
        </h2>
        <nav class="mb-10 list-none">
          <li>
            <a class="text-gray-600 hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2
          class="mb-3 text-sm font-medium tracking-widest text-gray-900 title-font"
        >
          CATEGORIES
        </h2>
        <nav class="mb-10 list-none">
          <li>
            <a class="text-gray-600 hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="w-full px-4 lg:w-1/4 md:w-1/2">
        <h2
          class="mb-3 text-sm font-medium tracking-widest text-gray-900 title-font"
        >
          CATEGORIES
        </h2>
        <nav class="mb-10 list-none">
          <li>
            <a class="text-gray-600 hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-gray-100">
    <div
      class="container flex flex-col items-center justify-between px-24 py-4 mx-auto sm:flex-row"
    >
      <div>
        <p class="text-sm text-gray-500 sm:text-left">
          © {{ DateCurrent }} Zauj Footwear
        </p>
      </div>
      <div class="">
        <p class="text-center">
          Developed with
          <i class="text-red-500 fa-solid fa-heart"></i>
          by
          <a
            class="font-bold"
            href="https://github.com/shahil-leo/personal-portfolio"
            >shahil</a
          >
        </p>
      </div>
      <div class="flex justify-center gap-10 mt-2 sm:mt-0 sm:justify-start">
        <h2>shahil</h2>
        <h2>shahil</h2>
        <h2>shahil</h2>
      </div>
    </div>
  </div>
</footer>
