<div class="mx-auto max-w-[85rem] font-inter">
  <h1 class="px-5 mb-10 text-3xl font-semibold">
    {{ category }} Deals for you
  </h1>
  <div class="overflow-x-scroll h-[32rem]">
    <div class="flex gap-10 md:gap-5 w-max">
      <div
        class="w-[13.5rem] relative h-[8rem] lg:w-[25rem]"
        *ngFor="let product of productArray"
      >
        <div class="shadow-xl bg-[rgb(247,248,250)] rounded-2xl snap-x">
          <div
            routerLink="/single/{{ product._id }}"
            class="snap-center flex items-center bg-gray-100 justify-center mt-5 mb-5 rounded-md h-[15rem] md:h-[17rem] overflow-hidden"
          >
            <img
              src="{{ product.image }}"
              class="object-cover transition-all hover:scale-125"
            />
          </div>
          <div class="px-3 snap-center">
            <div class="flex justify-between mb-5">
              <h1 class="font-bold md:text-3xl">{{ product.title }}</h1>
              <h1 class="md:text-xl">{{ product.prize }} Rs</h1>
            </div>
            <p>{{ product.description }}</p>
            <div class="flex justify-between pb-10 pt-7">
              <a
                (click)="addToCart(product, product._id)"
                class="cursor-pointer relative inline-block px-8 py-3 overflow-hidden text-center border border-black rounded-[1.875rem] group focus:outline-none focus:ring"
              >
                <span
                  class="absolute inset-y-0 right-0 w-[2px] bg-black transition-all group-hover:w-full group-active:bg-indigo-500"
                ></span>

                <span
                  class="relative text-lg font-medium transition-colors text-white-600 group-hover:text-white"
                >
                  Add to cart
                </span>
              </a>

              <button
                class="absolute px-3 py-2 transition-all bg-white rounded-full hover:bg-red-500 hover:text-white right-10 top-14"
                (click)="addToWishList(product, product._id)"
              >
                <span class="material-symbols-outlined"> favorite </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
